<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ServerConnectionString" 
         connectionString="Host=db.oomeyszjgfxuxocrnhua.supabase.co;Port=5432;Database=postgres;Username=postgres;Password=$Dhanashri191102;SSL Mode=Require;"
         providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="PLC:IPAddress" value="192.168.0.74" />
    <add key="PLC:Rack" value="0" />
    <add key="PLC:Slot" value="1" />
    <add key="PLC:MillId" value="1" />
    <add key="PLC:PollingIntervalMs" value="1000" />
  </appSettings>
</configuration>

